<div class="user-view-container">
  <h2>Service Assignment Status</h2>
  <div class="table-container">
    <table *ngIf="assignments.length > 0; else noAssignments">
      <thead>
        <tr>
          <th>Assignment ID</th>
          <th>Service ID</th>
          <th>Assigned Technician</th>
          <th>Current Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assignment of assignments">
          <td>{{ assignment.assignmentId }}</td>
          <td>{{ assignment.serviceId }}</td>
          <td>{{ getTechnicianName(assignment.technicianId) }}</td>
          <td>
            <span
              class="status-badge"
              [ngClass]="'status-' + assignment.status.replace(' ', '-').toLowerCase()"
            >
              {{ assignment.status | formatStatus }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- directive that can be condiionally rendered -->
    <ng-template #noAssignments>
      <div class="no-data-message">
        <p>There are currently no service assignments to display.</p>
      </div>
    </ng-template>
  </div>
</div>
