.user-view-container {
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
thead {
  background-color: #f4f4f4;
}
